// 颜色定义规范

// 文本颜色
$color-text = rgb(255, 255, 255)
$color-text-d = rgb(187, 187, 187)
$color-text-active = rgb(116, 198, 11)
$color-text-9 = #999999
$color-text-info = #93999f
$color-text-price = #f01414;

// 背景颜色
$color-search-backgorund = rgb(158, 215, 85)
$color-header-background = rgb(116, 198, 11)
$color-content-background = rgb(238, 238, 238)
$color-default-background = rgb(255, 255, 255)

// 边框颜色
$color-defalut-border = rgba(187, 187, 187, 0.7)

// 字体型号
$font-size-small = 0.24rem

// 内容块间距
$content-module-gap = 0.15rem
